In [21]:
# the random trees algorithm is an Ensemble algorithm.
#Random Forest was an algorithm which implements a group of algorithms under the hood to classify new data points with the help of voting paradigm.

#It is an Ensemble Algorithm which implements multiple decision trees (each different from the other) to classify data.

# Some Applications

In [22]:
#Banking: For the application in banking, Random Forest algorithm is used to find loyal customers, which means customers who can take out plenty of loans and pay interest to the bank properly, and fraud customers, which means customers who have bad records like failure to pay back a loan on time or have dangerous actions.

In [23]:
#Stock Market: For the application in the stock market, Random Forest algorithm can be used to identify a stockâ€™s behavior and the expected loss or profit.

In [24]:
#AMAZON:-For the application in e-commerce, Random Forest algorithm is used for predicting whether the customer will like the recommend products, based on the experience of similar customers.

In [25]:
import pandas as pd
df = pd.read_csv('titanic_prepared_data.csv')
display(df.head())

,Survived,Sex,Age,Fare,Pclass_1,Pclass_2,Pclass_3,Embarked_0,Embarked_1,Embarked_2,FamilySize
0,0,1,22.0,7.2500,0,0,1,0,0,1,2
1,1,0,38.0,71.2833,1,0,0,1,0,0,2
2,1,0,26.0,7.9250,0,0,1,0,0,1,1
3,1,0,35.0,53.1000,1,0,0,0,0,1,2
4,0,1,35.0,8.0500,0,0,1,0,0,1,1

In [26]:
X = df.iloc[:, 1:].values
y = df.iloc[:, 0:1].values
display( X.shape, y.shape)

(891, 10)

(891, 1)

In [27]:
#splitting the data
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 0)
print (X_train.shape, y_train.shape)

(623, 10) (623, 1)

In [28]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_estimators=100)
clf.fit(X_train, y_train.ravel())

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [29]:
y_pred_random_forest = clf.predict(X_test)

In [30]:
from sklearn.metrics import accuracy_score
acc_random_forest = round(accuracy_score(y_pred_random_forest, y_test) * 100, 2)
print (str(acc_random_forest) + ' percent')

81.72 percent