In [ ]:
#GNB IS about how we need to go assuming certain things about the data which are only true in an idealistic case.

#The algorithm uses various concepts of probability and statistics, assuming that all the features are statistically independent for the classification of a new data point.

In [1]:
import pandas as pd
df = pd.read_csv('titanic_prepared_data.csv')
display(df.head())

,Survived,Sex,Age,Fare,Pclass_1,Pclass_2,Pclass_3,Embarked_0,Embarked_1,Embarked_2,FamilySize
0,0,1,22.0,7.2500,0,0,1,0,0,1,2
1,1,0,38.0,71.2833,1,0,0,1,0,0,2
2,1,0,26.0,7.9250,0,0,1,0,0,1,1
3,1,0,35.0,53.1000,1,0,0,0,0,1,2
4,0,1,35.0,8.0500,0,0,1,0,0,1,1

In [2]:
X = df.iloc[:, 1:].values
y = df.iloc[:, 0:1].values
display( X.shape, y.shape)

(891, 10)

(891, 1)

In [3]:
#splitting the data
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 0)
print (X_train.shape, y_train.shape)

(623, 10) (623, 1)

In [4]:
from sklearn.naive_bayes import GaussianNB
clf = GaussianNB()
clf.fit(X_train, y_train.ravel())
y_pred_gnb = clf.predict(X_test)

In [5]:
from sklearn.metrics import accuracy_score
acc_gnb = round(accuracy_score(y_pred_gnb, y_test) * 100, 2)
print (str(acc_gnb) + ' percent')

78.36 percent

In [7]:
#This is because the Bayes Theorem requires some independence assumption. And since the Bayes Theorem is the underlying principle of the Naive Bayes classifier, we take these assumptions to be true for the features.

#Since these assumptions are not always Ideally true, it is kind of Naive (def : having or showing a lack of experience or knowledge ) to assume these to be true. Hence the name.

In [ ]:
#e.g.To mark an email as spam, or not spam.
#Classify a news article about technology, politics, or sports.
#Check a piece of text expressing positive emotions, or negative emotions