In [ ]:
#It simply calculates the distance of the new data points from all the existing data, and then follows the principle of voting to decide upon the class of the data point.

In [1]:
import pandas as pd
df = pd.read_csv('titanic_prepared_data.csv')
display(df.head())

,Survived,Sex,Age,Fare,Pclass_1,Pclass_2,Pclass_3,Embarked_0,Embarked_1,Embarked_2,FamilySize
0,0,1,22.0,7.2500,0,0,1,0,0,1,2
1,1,0,38.0,71.2833,1,0,0,1,0,0,2
2,1,0,26.0,7.9250,0,0,1,0,0,1,1
3,1,0,35.0,53.1000,1,0,0,0,0,1,2
4,0,1,35.0,8.0500,0,0,1,0,0,1,1

In [2]:
X = df.iloc[:, 1:].values
y = df.iloc[:, 0:1].values
display( X.shape, y.shape)

(891, 10)

(891, 1)

In [4]:
#splitting the data
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 0)
print (X_train.shape, y_train.shape)

(623, 10) (623, 1)

In [5]:
from sklearn.neighbors import KNeighborsClassifier
clf = KNeighborsClassifier(n_neighbors = 3)
clf.fit(X_train, y_train.ravel())

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=3, p=2,
           weights='uniform')

In [6]:
y_pred_knn = clf.predict(X_test)

In [7]:
from sklearn.metrics import accuracy_score
acc_knn = round( accuracy_score(y_pred_knn, y_test) * 100, 2)
print (str(acc_knn) + ' percent')

68.28 percent

In [8]:
#k-NN is often used in search applications where you are looking for “similar” items; that is, when your task is some form of “find items similar to this one”. You’d call this a k-NN search.
#e.g RECOMMENDER SYSTEMS